# People Analytics
## Predicting Employee Attrition with R

<img src="images/office-and-workers-in-barcelona-spain.jpg" />

<br>

*In this notebook, we will walk through solving a classification problem using machine learning. To do so, we will introduce the Scikit-Learn machine learning library for Python.*

### Table of Contents

<a href="#sectioncase">Case Study: Employee Attrition at IBM</a>

<a href="#sectiondata"> The Dataset </a>

<a href="#sectionlogistic"> Logistic Regression </a>

<ol start="9">
    <li><a href="#section9">Machine Learning</a>
        <ol type=a>
            <br>
            <li><a href="#section9a">The K-Nearest Neighbors Algorithm</a></li>
            <br>
            <li><a href="#section9b">Using Scikit-Learn: An Example</a></li>
            <br>
            <li><a href="#section9c">Using Scikit-Learn: KNN</a></li>            
        </ol>
    </li>
    </ol>

## <a id= "sectioncase">Case Study: Employee Attrition at IBM </a>

*Employee attrition* refers to a decrease in employees at a company where the company does not intend to fill the vacancy afterward. Attrition, caused by resignations, retirements, or the elimination of job positions, is important for businesses to anticipate so they can keep costs low and properly distribute workloads.

Today, we'll try to predict whether or not an employee will leave their job using [a data set created by IBM](https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset/home). Because employee data is confidential, IBM's data set is fictional- it does not represent real employees. However, the data and the problem are structured very similarly to how actual companies such as IBM are approaching this very real problem.

<div class="alert alert-info">
    <b>NOTE</b>: we've made some changes to the data set to make this assignment simpler- things like renaming values, dropping confusing features, and adding definitions for columns. Please refer to the data dictionary below and <b>not</b> the one at the link when completing this assignment.
    </div>

Run the following cell to load the data.

## <a name="sectiondata"> The Dataset </a>

In [46]:
# load the dataset
hr = read.csv("data/HR-Employee-Attrition.csv")

# show the first 6 rows of the dataset
head(hr)

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ⋯
1 1                2         Life Sciences  1             1              ⋯
2 8                1         Life Sciences  1             2              ⋯
3 2                2         Other          1             4              ⋯
4 3                4         Life Sciences  1             5              ⋯
5 2                1         Medical        1             7              ⋯
6 2                2         Life Sciences  1             8              ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

In [7]:
names(hr)

 [1] "Age"                      "Attrition"
 [3] "BusinessTravel"           "DailyRate"
 [5] "Department"               "DistanceFromHome"
 [7] "Education"                "EducationField"
 [9] "EmployeeCount"            "EmployeeNumber"
[11] "EnvironmentSatisfaction"  "Gender"
[13] "HourlyRate"               "JobInvolvement"
[15] "JobLevel"                 "JobRole"
[17] "JobSatisfaction"          "MaritalStatus"
[19] "MonthlyIncome"            "MonthlyRate"
[21] "NumCompaniesWorked"       "Over18"
[23] "OverTime"                 "PercentSalaryHike"
[25] "PerformanceRating"        "RelationshipSatisfaction"
[27] "StandardHours"            "StockOptionLevel"
[29] "TotalWorkingYears"        "TrainingTimesLastYear"
[31] "WorkLifeBalance"          "YearsAtCompany"
[33] "YearsInCurrentRole"       "YearsSinceLastPromotion"
[35] "YearsWithCurrManager"

This data set contains a wealth of information that could be used to predict attrition. Here's the **data dictionary**: the information about each feature (column) contained in the data set.


* `Age`: employee's age
* `Attrition`: the **response variable**. 1 if employee left IBM due to normal life circumstances, 0 if the employee stayed with IBM
* `BusinessTravel`: the amount of travel the employee does for business. 0 (no travel), 1 (rare travel), or 2 (frequent travel)
* `Department`: employee's home department. 'Sales', 'Research & Development', or 'Human Resources'
* `DistanceFromHome`: number of miles the employee has to travel to work
* `Education`: employee's highest level of education. 1 (below college), 2 (some college), 3 (bachelor's degree), 4 (master's degree), 5 (doctorate)
* `Gender`: 1 (female) or 0 (male)
* `JobRole`: 'Sales Executive', 'Research Scientist', 'Laboratory Technician', 'Manufacturing Director', 'Healthcare Representative', 'Manager', 'Sales Representative', 'Research Director', or 'Human Resources'
* `JobSatisfaction`: the employee's ranking of their satisfaction with their job. Minimum is 1, maximum is 4.
* `MaritalStatus`: 'Single', 'Married', or 'Divorced'
* `MonthlyIncome`: in dollars
* `NumCompaniesWorked`: the total number of companies the employee has worked at in their lifetime
* `OverTime`: whether or not the employee is eligible for overtime. 1 (yes) or 0 (no)
* `PercentSalaryHike`: for the employee's most recent salary increase, the percentage by which their salary increased
* `WorkLifeBalance`: employee's rating of their work-life balance. 1 (bad), 2 (good), 3 (better), 4 (best)
* `YearsAtCompany`: number of years employee has worked for IBM
* `YearsInCurrentRole`: number of years employee has worked for IBM in their current position

In [3]:
summary(hr)

      Age        Attrition            BusinessTravel   DailyRate
 Min.   :18.00   No :1233   Non-Travel       : 150   Min.   : 102.0
 1st Qu.:30.00   Yes: 237   Travel_Frequently: 277   1st Qu.: 465.0
 Median :36.00              Travel_Rarely    :1043   Median : 802.0
 Mean   :36.92                                       Mean   : 802.5
 3rd Qu.:43.00                                       3rd Qu.:1157.0
 Max.   :60.00                                       Max.   :1499.0

                  Department  DistanceFromHome   Education
 Human Resources       : 63   Min.   : 1.000   Min.   :1.000
 Research & Development:961   1st Qu.: 2.000   1st Qu.:2.000
 Sales                 :446   Median : 7.000   Median :3.000
                              Mean   : 9.193   Mean   :2.913
                              3rd Qu.:14.000   3rd Qu.:4.000
                              Max.   :29.000   Max.   :5.000

          EducationField EmployeeCount EmployeeNumber   EnvironmentSatisfaction
 Human Resources : 27    Min.   :1     Min.   :   1.0   Min.   :1.000
 Life Sciences   :606    1st Qu.:1     1st Qu.: 491.2   1st Qu.:2.000
 Marketing       :159    Median :1     Median :1020.5   Median :3.000
 Medical         :464    Mean   :1     Mean   :1024.9   Mean   :2.722
 Other           : 82    3rd Qu.:1     3rd Qu.:1555.8   3rd Qu.:4.000
 Technical Degree:132    Max.   :1     Max.   :2068.0   Max.   :4.000

    Gender      HourlyRate     JobInvolvement    JobLevel
 Female:588   Min.   : 30.00   Min.   :1.00   Min.   :1.000
 Male  :882   1st Qu.: 48.00   1st Qu.:2.00   1st Qu.:1.000
              Median : 66.00   Median :3.00   Median :2.000
              Mean   : 65.89   Mean   :2.73   Mean   :2.064
              3rd Qu.: 83.75   3rd Qu.:3.00   3rd Qu.:3.000
              Max.   :100.00   Max.   :4.00   Max.   :5.000

                      JobRole    JobSatisfaction  MaritalStatus MonthlyIncome
 Sales Executive          :326   Min.   :1.000   Divorced:327   Min.   : 1009
 Research Scientist       :292   1st Qu.:2.000   Married :673   1st Qu.: 2911
 Laboratory Technician    :259   Median :3.000   Single  :470   Median : 4919
 Manufacturing Director   :145   Mean   :2.729                  Mean   : 6503
 Healthcare Representative:131   3rd Qu.:4.000                  3rd Qu.: 8379
 Manager                  :102   Max.   :4.000                  Max.   :19999
 (Other)                  :215
  MonthlyRate    NumCompaniesWorked Over18   OverTime   PercentSalaryHike
 Min.   : 2094   Min.   :0.000      Y:1470   No :1054   Min.   :11.00
 1st Qu.: 8047   1st Qu.:1.000               Yes: 416   1st Qu.:12.00
 Median :14236   Median :2.000                          Median :14.00
 Mean   :14313   Mean   :2.693                          Mean   :15.21
 3rd Qu.:20462   3rd Qu.:4.000                          3rd Qu.:18.00
 Max.   :26999   Max.   :9.000                          Max.   :25.00

 PerformanceRating RelationshipSatisfaction StandardHours StockOptionLevel
 Min.   :3.000     Min.   :1.000            Min.   :80    Min.   :0.0000
 1st Qu.:3.000     1st Qu.:2.000            1st Qu.:80    1st Qu.:0.0000
 Median :3.000     Median :3.000            Median :80    Median :1.0000
 Mean   :3.154     Mean   :2.712            Mean   :80    Mean   :0.7939
 3rd Qu.:3.000     3rd Qu.:4.000            3rd Qu.:80    3rd Qu.:1.0000
 Max.   :4.000     Max.   :4.000            Max.   :80    Max.   :3.0000

 TotalWorkingYears TrainingTimesLastYear WorkLifeBalance YearsAtCompany
 Min.   : 0.00     Min.   :0.000         Min.   :1.000   Min.   : 0.000
 1st Qu.: 6.00     1st Qu.:2.000         1st Qu.:2.000   1st Qu.: 3.000
 Median :10.00     Median :3.000         Median :3.000   Median : 5.000
 Mean   :11.28     Mean   :2.799         Mean   :2.761   Mean   : 7.008
 3rd Qu.:15.00     3rd Qu.:3.000         3rd Qu.:3.000   3rd Qu.: 9.000
 Max.   :40.00     Max.   :6.000         Max.   :4.000   Max.   :40.000

 YearsInCurrentRole YearsSinceLastPromotion YearsWithCurrManager
 Min.   : 0.000     Min.   : 0.000          Min.   : 0.000
 1st Qu.: 2.000     1st Qu.: 0.000          1st Qu.: 2.000
 Median : 3.000     Median : 1.000          Median : 3.000
 Mean   : 4.229     Mean   : 2.188          Mean   : 4.123
 3rd Qu.: 7.000     3rd Qu.: 3.000          3rd Qu.: 7.000
 Max.   :18.000     Max.   :15.000          Max.   :17.000

In [41]:
# replace the ... with the name of the column you want to visualize
# capitalization counts!
my_column = "..."

# run this cell to see the distribution of values for your column
hist(hr[, my_column])

boxplot(hr[,my_column])

ERROR: Error in `[.data.frame`(hr, , my_column): undefined columns selected

## <a class="sectionlogistic"> Logistic Regression </a>

In [45]:
hr

In [39]:
numeric_data = subset(x=hr, subset=)

In [44]:
install.packages("Amelia")
library(Amelia)
library(mlbench)
missmap(hr, col=c("blue", "red"), legend=FALSE)

Warning message:
“dependency ‘foreign’ is not available”Warning message in install.packages("Amelia"):
“installation of package ‘Amelia’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

ERROR: Error in library(Amelia): there is no package called ‘Amelia’

In [ ]:

library(corrplot)
correlations <- cor(Smarket[,1:8])
corrplot(correlations, method="circle")